{% extends 'main/base.html' %}
        
{% block title %}Add Note | Notes{% endblock %}

{% block body %}
<script type="text/javascript">
    $(function() {
        csrf_token = $('input[name=csrfmiddlewaretoken]').val();
        
        $('textarea').each(function () {
            this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
            }).on('input', function () {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + 'px';
        });
        
    });
</script>

<div class="col-sm-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'main:note_list' %}">Note List</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Note</li>
        </ol>
    </nav>    
</div>
<div class="col-sm-12">
    <form role="form" action="{% url 'main:add_note' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" name="title" placeholder="Enter title">
        </div>
        
        <div class="form-group">
            <label for="note_category">
                Category
            </label>
            <select class="form-control" name="note_category" id="note_category">
              {% for note_category in note_categories %}
              <option>{{note_category}}</option>
              {% endfor %}
            </select>
        </div>
        
        <div class="form-group">
            <label for="content">Content:</label>
            <textarea 
                class="form-control"
                id="content"
                name="content"
                placeholder="Enter content"></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}