{% extends 'main/base.html' %}
        
{% block title %}Home{% endblock %}

{% block body %}
<script type="text/javascript">
    $(function() {
        csrf_token = $('input[name=csrfmiddlewaretoken]').val();
        
        $("body").on('click', '#save_button', function () {
            var title = $('#title').val();
            var category = $('#note_category').val();
            var content = $('#content').val();
            var url = $('#form').attr('action');
            
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                  title: title,
                  category: category,
                  content: content,
                  csrfmiddlewaretoken : csrf_token
                },
                success: function(response){
                    if(response == 'saved'){
                        alert('Note saved!');
                    } else {
                        alert('Note already up to date!');
                    }
                }
            });
        });
    });
</script>
<div class="col-sm-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'main:note_list' %}">Note List</a></li>
            <li class="breadcrumb-item"><a href="{% url 'main:note_detail' pk=certain_note.id %}">{{certain_note.title}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Note</li>
        </ol>
    </nav>    
</div>
<div class="col-sm-12">
    <form role="form" id="form" action="{% url 'main:edit_note' pk=certain_note.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Enter title" value="{{certain_note.title}}">
        </div>
        
        <div class="form-group">
            <label for="note_category">Category</label>
            <select class="form-control" name="note_category" id="note_category">
              {% for note_category in note_categories %}
              <option {% if note_category == certain_note_category %}selected="selected"{% endif %}>
                  {{note_category}}
              </option>
              {% endfor %} 
            </select>
        </div>
        
        <div class="form-group">
            <label for="content">Content:</label>
            <textarea class="form-control" 
                name="content"
                id="content"
                rows="7"
                placeholder="Enter content">{{certain_note.content}}</textarea>
        </div>
        
        <button type="button" class="btn btn-success" id="save_button">Save</button>
        <button type="submit" class="btn btn-primary">Save and Exit</button>
        <!--<button type="submit" class="btn btn-danger">Discard Changes</button>-->
    </form>
</div>
{% endblock %}