{% extends 'main/base.html' %}
        
{% block title %}Home | Notes{% endblock %}

{% block body %}
<script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
<script>
var csrf_token = '{{csrf_token}}';
var is_user_editing = false;
var note_latest_content = "";
var note_latest_title = "";

$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
    
    $("body").on('click', '#edit_note_discard_cancel', function () {
        $("#edit_note_discard").popover('hide');
    });
    
    $("body").on('click', '#edit_note_discard_confirm', function () {
        window.onbeforeunload = null;
        $('#edit_note_close, #edit_note_close_x').show();
        $("#edit_note_discard").popover('hide');
        $('#edit_note_modal').modal('hide');
    });
    
    
    $("body").on('keyup', '#edit_note_content,#edit_note_title', function () {
        if($('#edit_note_content').val() == note_latest_content && $('#edit_note_title').val() == note_latest_title){
            window.onbeforeunload = null;
            $('#edit_note_close, #edit_note_close_x').show();
            $('#edit_note_discard').hide();
            $('#edit_note_save').hide();
            
        }else{
            window.onbeforeunload = function(){
                return 'If you close this page you will lose your changes!';
            };
            $('#edit_note_close, #edit_note_close_x').hide();
            $('#edit_note_discard').show();
            $('#edit_note_save').show();
        }
    });
    
    $("body").on('click', '#edit_note_close', function () {
        window.onbeforeunload = null;
    });

    $("body").on('click', '.note', function () {
        $('#edit_note_discard').hide();
        var id = $(this).attr('id');
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/',
            data: {
                get_info: true,
                note_pk: id,
                csrfmiddlewaretoken : csrf_token
            },
            success: function(response){
                var title = response.title;
                var content = response.content;
                note_latest_content = content;
                note_latest_title = title;
                
                $("#edit_note_body").html("");
                
                $('input').prop('disabled', true);
                
                $('#edit_note_modalLabel').html("Editing: " + title);
                
                $('<form></form>')
                .attr({role: 'form', id: 'edit_note_form',method: 'post',enctype: 'multipart/form-data'})
                .appendTo("#edit_note_body");
                
                $('<div></div>')
                .attr({id: "edit_note_save_message", class: "alert alert-success", role: "alert"})
                .appendTo("#edit_note_form").hide();
                
                $('<div></div>')
                .attr({id: "edit_note_saving_message", class: "alert alert-warning", role: "alert"})
                .appendTo("#edit_note_form").hide();
                
                $('<label>Title:</label>')
                .attr({for: "title"})
                .appendTo("#edit_note_form");
                
                $('<input>')
                .attr({type: "text", class: "form-control", name: "title", id: "edit_note_title", placeholder: "Enter title", value: title})
                .appendTo("#edit_note_form");
                
                $('<label>Content</label>')
                .attr({for: "content"})
                .appendTo("#edit_note_form");
                
                $('<textarea>' + content + '</textarea>')
                .attr({class: "form-control", id: "edit_note_content", name: "edit_note_content", rows: 10, placeholder: "Enter content"})
                .appendTo("#edit_note_form")
                
                $('<input>')
                .attr({type: "hidden", id: "edit_note_pk", value: id})
                .appendTo("#edit_note_form");
                
                $('#edit_note_save').hide();
                $('#edit_note_modal').modal('show');
                autosize.update($('#edit_note_content'));
                // $('#edit_note_content').append("resized!");
                $('input').prop('disabled', false);
                
                // $('#edit_note_content').trigger('autosize.update');
            }
        });
    });
    
    $("body").on('click', '#edit_note_save', function () {
        var title = $('#edit_note_title').val();
        var content = $('#edit_note_content').val();
        var note_pk = $('#edit_note_pk').val();
        var url = $('#form').attr('action');
        $('#edit_note_saving_message').html('Attempting to save...').fadeIn(1);
        $.ajax({
            type: 'POST',
            url: '/',
            data: {
                save: true,
                note_pk: note_pk,
                title: title,
                content: content,
                csrfmiddlewaretoken : csrf_token
            },
            success: function(response){
                $('#edit_note_saving_message').fadeOut(1);
                note_latest_content = content;
                note_latest_title = title;
                $('#' + note_pk).text(note_latest_title);
                $('#edit_note_modalLabel').html('Editing: ' + note_latest_title);
                window.onbeforeunload = null;
                $('#edit_note_close, #edit_note_close_x').show();
                $('#edit_note_discard, #edit_note_save').hide();
                if(response == 'saved' || response == 'saved, new title'){
                    $('#edit_note_save_message').html('Note Saved!');
                } else {
                    $('#edit_note_save_message').html('Note already up to date!');
                }
                $('#edit_note_save_message').fadeIn(1000);
                window.setTimeout(function (){$('#edit_note_save_message').fadeOut(1000);}, 5000);
            }
        });
    });
});
</script>

<div class="col-sm-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>    
</div>

<div class="col-sm-12">
    <!--<button type="button" class="btn btn-success btn-lg btn-block">Add Category</button>-->

    <!--<button -->
    <!--  type="button"-->
    <!--  id="login_button"-->
    <!--  class="btn btn-block btn-primary" -->
    <!--  data-toggle="popover"-->
    <!--  data-placement="bottom"-->
    <!--  data-html="true"-->
    <!--  data-content="-->
    <!--    <form role='form' id='add_category_form' method='post' enctype='multipart/form-data'>-->
    <!--      <div id='login_message'>-->
    <!--      </div>-->
    <!--      <div class='form-group'>-->
    <!--        <label for='title'>Title:</label>-->
    <!--        <input type='text' class='form-control' name='title' placeholder='Enter title'>-->
    <!--      </div>-->
    <!--      <button type='submit' class='btn btn-success'>Submit</button>-->
    <!--      <button type='button' id='close' class='btn btn-danger'>Cancel</button>-->
    <!--    </form>">Add New Cat</button>-->
    
    <br>
    <div class="accordion" id="accordion1">
        {% for a in l %}
        <div class="card bg-dark" style="color:black;">
            <div class="card-header" id="heading{{forloop.counter}}">
                <h5 class="mb-0">
                    <button class="btn btn-primary btn-lg btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="false" aria-controls="collapse{{forloop.counter}}">
                        <h4 style="color:white;">{{a.0.title}}</h4>
                    </button>
                </h5>
            </div>
            <div id="collapse{{forloop.counter}}" class="collapse" aria-labelledby="heading{{forloop.counter}}" data-parent="#accordion1">
                <div class="card-body">
                    <table class="table table-responsive-sm table-dark" style="border: 4px solid white;">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Date Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for b in a.1 %}
                            <tr>
                                
                                <th scope="row">
                                    <button type="button" id="{{b.id}}" class="btn btn-link note" style="color:white;">
                                        {{b.title}}
                                    </button>
                                </th>
                                <td>{{b.datetime_created}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <p>{{b.title}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="edit_note_modal" tabindex="-1" role="dialog" aria-labelledby="edit_note_modalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit_note_modalLabel" style="color:black;">Modal title</h5>
        <button type="button" id="edit_note_close_x" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="edit_note_body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="edit_note_save">Save</button>
        <button type="button" class="btn btn-secondary" id="edit_note_close" data-dismiss="modal">Close</button>
        <button 
            type="button"
            id="edit_note_discard"
            class="btn btn-danger" 
            data-toggle="popover"
            data-placement="top"
            title="<p style='color:black;'>Are you sure you want to discard changes?</p>" 
            data-html="true"
            data-content="
            <div class='btn-group-vertical' style='width:100%;'>
                <button type='button' id='edit_note_discard_confirm' class='btn btn-danger'>Yes</button>
                <button type='button' id='edit_note_discard_cancel' class='btn btn-secondary'>Cancel</button>
            </div>">Discard</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}