{% extends 'main/base.html' %}
        
{% block title %}{{certain_note.title}} | Notes{% endblock %}

{% block body %}
<div class="col-sm-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'main:note_list' %}">Note List</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{certain_note.title}}</li>
        </ol>
    </nav>    
</div>

<div class="col-sm-12">
    <div class="btn-group" style="width:100%;">
        <a href="{% url 'main:edit_note' pk=certain_note.id %}" class="btn btn-info" style="width:50%;">Edit</a>
        <a href="{% url 'main:delete_note' pk=certain_note.id %}" class="btn btn-danger" style="width:50%;">Delete</a>
    </div>
    
    <div>
        <br>
    </div>
    
    <div class="card" style="color:black;">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input disabled type="text" class="form-control" style="background-color:#FFF;" name="title" id="title"  value="{{certain_note.title}}">
                </div>
                
                <div class="form-group">
                    <label for="note_category">Category</label>
                    <input disabled type="text" class="form-control" style="background-color:#FFF;" name="title" id="title"  value="{{certain_note.category}}">
                </div>
                
                <div class="form-group">
                    <label for="content">Content:</label>
                    <textarea
                        disabled
                        style="background-color:#FFF;"
                        class="form-control"
                        rows="15">{{certain_note.content}}</textarea>
                </div>
            </form>
        </div>
    </div>
    
    <div>
        <br>
    </div>
    
    <div class="btn-group" style="width:100%;">
        <a href="{% url 'main:edit_note' pk=certain_note.id %}" class="btn btn-info" style="width:50%;">Edit</a>
        <a href="{% url 'main:delete_note' pk=certain_note.id %}" class="btn btn-danger" style="width:50%;">Delete</a>
    </div>
</div>
{% endblock %}