{% extends 'main/base.html' %}

{% block title %}Note List | Notes{% endblock %}

{% block body %}
<div class="col-sm-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Note List</li>
        </ol>
    </nav>    
</div>
<div class="col-sm-12">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Date Created</th>
            </tr>
        </thead>
        <tbody>
            {% for note in note_list %}
            <tr>
                <td><a href="{% url 'main:note_detail' pk=note.id %}">{{note.title}}</a></td>
                <td>{{note.category}}</td>
                <td>{{note.datetime_created}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}