{% extends 'main/base.html' %}

{% block title %}Note List | Notes{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
{% endblock %}

{% block body %}
<script type="text/javascript">
    $(function() {
        $('#table').DataTable({
            "paging": false,
            "bInfo" : false
        });
        $('.dataTables_filter').css('float','left');
    });
</script>
<div class="col-sm-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Note List</li>
        </ol>
    </nav>    
</div>
<div class="col-sm-12">

    <table class="table table-dark" id="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Date Created</th>
            </tr>
        </thead>
        <tbody style="color:black;">
            {% for note in note_list %}
            <tr>
                <td><a href="{% url 'main:note_detail' pk=note.id %}">{{note.title}}</a></td>
                <td>{{note.category}}</td>
                <td>{{note.datetime_created}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}